<h1>BoardCards#new</h1>

<%= form_for(@board_card) do |f| %>
  <%= f.text_field :origin %>
  <%= f.text_field :destination%>
  <%= f.text_field :transport_type%>
  <%= f.date_field :transport_number %>
  <%= f.date_field :seat_number%>
<%= f.submit %>
<% end %>
<p>Find me in app/views/board_cards/new.html.erb</p>
